<label class='profile-control'>
    <span>{{label}}</span>
    <input
        class='profile-control__input'
        placeholder={{label}}
        name={{name}}
        type={{type}}
        value={{value}}
    />
</label>
