{{{ avatar }}}
<div class="chat-content">
  <div class="chat-content__right">
    <span class="chat-content__title">{{ title }}</span>
    <div class="chat-content-message">
      {{#unless isYouLast}}<span>{{ login }}:</span>{{/unless}}
      {{ message }}
    </div>
  </div>
  <div class="chat-content__left">
    {{{ time }}}
    {{#if hasUnread}}
      <div class="chat-content__unread">{{ unread }}</div>
    {{/if}}
  </div>
</div>
