<div class="message msg__{{type}}  
{{#if media}}
msg__media
    {{/if}}
{{#if text}}
msg__text
    {{/if}}
">
    {{#if text }}
    <div class="message__text">{{text}}</div>
    {{/if}}
    {{#if media }}
    <div class="message__media"><img src="{{media}}" alt="Вложение"></div>
    {{/if}}
    
    <div class="message__send">
        <span class="read__status read-{{read}}"></span>
        <span class="send__time">
        {{time}}
        </span>
    </div>
</div>
