form.form.form--t-1
  .form__field(style="display: none")!= fieldChatId
  .form__field!= fieldDeleteUser
  .form__field!= sendBtn
  .form__field.form__field--error.t-center!= errorText
  .form__field.form__field--ok.t-center!= errorText
