{{#if taken}}
  <div class="message-box">
    <div class="message-box__time taken">{{time}}</div>
    {{#if taken}}
      {{#each arrayMessages}}
        <div class="message-box__message_type_taken taken">{{this}}</div>
      {{/each}}
    {{else}}
      {{#each arrayMessages}}
        <div class="message-box__message_type_sended sended">{{this}}</div>
      {{/each}}
    {{/if}}

    {{#if reaction}}
      <div class="message-box__emoji taken">{{{reaction}}}</div>
    {{/if}}
  </div>
{{else}}
  <div class="message-box flex-align_right">
    <div class="message-box__time sended">{{time}}</div>
    {{#if taken}}
      {{#each arrayMessages}}
        <div class="message-box__message_type_taken taken">{{this}}</div>
      {{/each}}
    {{else}}
      {{#each arrayMessages}}
        <div class="message-box__message_type_sended sended">{{this}}</div>
      {{/each}}
    {{/if}}

    {{#if reaction}}
      <div class="message-box__emoji sended">{{{reaction}}}</div>
    {{/if}}
  </div>
{{/if}}