<form action='#' class="form__{{formType}}">
    <div class="form__header">
        <h1 class="form__header-title">{{formHeaderTitle}}</h1>
        <h2 class="form__header-discription">{{formHeaderDescription}}</h2>
    </div>
    <div class="form__body">
        {{> Input type="text" name="email" placeholder="email" label='email'}}
        {{> Input type="password" name="password" placeholder="password" label='password'}}
        {{> Button text="Авторизоваться"}}
    </div>

    <div class="form__footer">
        <span class="form__footer-title">{{formFooterTitle}}</span><a href="" class="form__footer-link">{{formFooterLink}}</a>
    </div>
</form>