<div class='input'>

    <input
        type={{type}}
        name={{name}}
        placeholder={{placeholder}}
        value={{value}}
    />
    <label for={{name}} class='label'>{{label}}</label>
    <span class='error-{{name}}'>Неверный {{name}}</span>
</div>