<div class='input'>
    <label for={{name}}>{{label}}</label>
    <inputvalue={{value}}
        type={{type}}
        name={{name}}
        placeholder={{placeholder}}
        
    />
    <span class='error-{{name}}'>Неверный {{name}}</span>
</div>