<div class='input'>
    <label for={{name}}>{{label}}</label>
    <input type={{type}} name={{name}} placeholder={{placeholder}} required />
    <span class='error-{{name}}'>Неверный {{name}}</span>
</div>