<div class='input'>
    <label for={{name}}>{{label}}</label>
    <input
        type={{type}}
        name={{name}}
        placeholder={{placeholder}}
        value={{value}}
    />
    <span class='error-{{name}}'>Неверный {{name}}</span>
</div>