form.form
  if (title)
    h1.form__title= title
  .form__field!= fieldLogin
  .form__field!= fieldPassword
  .form__field.form__field--accent!= sendBtn
  .form__field.t-right!= link
  .form__field.t-right!= link
  .form__field.form__field--error!= errorText
