<div class="input{{#if className}} {{className}}{{/if}}">
  <input
    class="input__element{{#if align-right}} input__element--align-right{{/if}}"
    type="{{ type }}" title="{{ title }}" name="{{ name }}" value="{{value}}">
</div>
