<div class="{{ divClass }}">
  <label class="label">{{ label }}</label>
  {{#if value}}
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}"
    class="{{ className }}">
  {{else}}
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" class="{{ className }}">
  {{/if}}
  {{#if noError}}
  <div></div>
  {{else}}
  <span class="error input-error">{{ error }}</span>
  {{/if}}
</div>
