<button
        class="button button__{{ type }} {{#if class}}{{ class }}{{/if}}"
        {{#if data_type}}type="{{ data_type }}" {{/if}}
        {{#if page}}page="{{ page }}" {{/if}}
        {{#if name}}name="{{name}}"{{/if}}>
    {{ label }}
</button>

