<form id="{{id}}" class="app__form {{className}}">
    <h2 class="form__title">{{formTitle}}</h2>
    <div class="form__items">
        {{{formItems}}}
    </div>
    <div class="form__buttons">
        {{{formButtons}}}
    </div>
</form>
