<form class="fields">
  <h3 class="title">{{ name }}</h3>
  {{#each inputs}}
    {{{this}}}
  {{/each}}
  <div class="buttons {{ buttonsClass }}">
    {{{ button }}}
    <div class="links">
      {{#if linkText}}
      <span class="link-text">{{ linkText }}</span>
      {{/if}}
      {{{ link }}}
    </div>
  </div>
</form>
