<div class="dialog__item {{itemClass}}" data-dialog-id="{{dialogId}}" >
    <div class="avatar">
        <img src="{{avatar}}" alt="Аватар пользователя {{nickname}}">
    </div>
    <div class="nickname">
        {{nickname}}
    </div>
    <div class="time_last_message">
        {{timeLastMessage}}
    </div>
    <div class="last_message">
        {{{lastMessage}}}
    </div>
    <div class="count_new_message">
        {{{countNewMessage}}}
    </div>
</div>
