{{#Dialog open=isOpenDialogPassword}}
    <form method="dialog">
        <h3>Введите новый пароль:</h3>
        {{{ InputField data="old_password" ref="old_password" }}}
        {{{ InputField data="password" ref="password" }}}
        {{{ InputField data="repeat_password" ref="repeat_password" _validate = validateRepeatPassword}}}
        {{{ ErrorLine error=error ref="errorLine"}}}
        <div class="button_section">
            {{{ Button
                label="Изменить"
                type="primary"
                onClick=onSave
            }}}
            {{{ Button
                label="Отменить"
                type="link"
                onClick=onClose
            }}}
        </div>
    </form>
{{/Dialog}}
