<li class="list-item {{class}}">
  <label for="{{name}}" class="list-item_title">{{label}}</label>
  <input
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
    value="{{value}}"
    class="list-item_value"
  />
</li>
