{{!-- <div id="{{idPage}}" class="page__chat"> --}}
    <div class="list__dialog">
        <div class="controls">
            {{{profileLink}}}
            {{{searchDialog}}}
        </div>
        <div class="dialogs">
            {{!-- {{{dialogs}}} --}}
        {{{listDialog}}}
        </div>
    </div>
    {{!-- <div class="current__dialog "> --}}
        {{{activeDialog}}}
    {{!-- </div> --}}
{{!-- </div> --}}