<div class='input'>

    <input
        type='{{type}}'
        name='{{name}}'
        id='{{name}}'
        placeholder='{{placeholder}}'
        value='{{value}}'
    />{{inputText}}
    <label for='{{name}}' class='label'>{{label}}</label>
    <span class='error-{{name}}'>{{errorName}}</span>
</div>