<div class='input'>
    <label for={{name}}>{{label}}</label>
    <input type={{type}} name={{name}} placeholder={{placeholder}} />
    <span class='error-{{name}}'>Please enter a valid {{name}}</span>
</div>