<div id="profile">
  <div class="back_block">
    {{{ backButton }}}
  </div>
  <div class="profile_block">
    <div class="profile-avatar">{{{ avatar }}}</div>
    <span class="profile-name">{{ first_name }}</span>
    <div class="data main-fields">
      {{{ fields }}}
      {{#each fieldsNew}}
        {{{this}}}
      {{/each}}
    </div>
    <div class="profile-buttons">
      <div class="string">
        {{{ editButton }}}
      </div>
      <div class="string">
        {{{ changePassButton }}}
      </div>
      <div class="string">
        {{{ logoutButton }}}
      </div>
    </div>
  </div>
  {{{ popup }}}
  {{{ editProfile }}}
  {{{ changePassword }}}
</div>
