<div id="{{idPage}}" class="page__profile">
    <div class="page__backlink">
        {{{backlink}}}
    </div>
    <div class="page__content">
        <div class="profile__avatar">
            <div class="avatar__img">
                <img src="{{{avatarImg}}}" alt="Аватар пользователя">
                {{{avatarChange}}}
            </div>
        </div>
        <div class="profile__data">
            {{{data}}}
        </div>
        <div class="profile__buttons">
            {{{buttons}}}
        </div>
    </div>
</div>
