<aside class="profile-back">
  {{{ backButton }}}
</aside>
<section class="profile-info">
  <div class="info">
    {{#unless isMainState}}
      {{{ backLink }}}
    {{/unless}}
    <div class="info-header">
      {{{ avatar }}}
      {{#if isMainState}}
        <h3 class="info__name">{{ name }}</h3>
      {{/if}}
    </div>
		{{{ form }}}
  </div>
</section>
