<div class="backlink">
    {{{backlink}}}
</div>
<div class="content profile">
    <div class="profile__avatar">
        <div class="avatar-img">
            <img src="{{{avatarImg}}}" alt="Аватар пользователя">
            {{{avatarUpload}}}
        </div>
    </div>
    <div class="profile__data">
        {{{listDataProfile}}}
        {{{formDataProfile}}}
        {{{formPassProfile}}}
    </div>
    <div class="profile__buttons">
        {{{buttons}}}
    </div>
</div>
