<div class="messages__header">
	{{{ backLink }}}
	{{{ chatAvatar }}}
	<span class="messages__title">{{ chatName }}</span>
	{{{ menuButton }}}
</div>
<div class="messages-list">
	{{#messages}}
		{{{.}}}
	{{/messages}}
</div>
<div class="messages__footer">
	{{{ messageInput }}}
	{{{ sendButton }}}
</div>
