<div class="popup-block">
  <div class="popup-background"></div>
  <form class="popup" id="popup">
    <h3 class="popup-title">{{ title }}</h3>
    {{{ close }}}
    <div class="popup-content">
      {{{ content }}}
    </div>
    <div class="buttons {{ buttonsClass }}">{{{ button }}}</div>
    </h3>
  </form>
</div>
