{{#fields}}
	{{{.}}}
{{/fields}}
<div class="profile-form__actions">
	{{#if isMainState}}
		{{{ changeLink }}}
		{{{ passwordLink }}}
		{{{ exitButton }}}
	{{else}}
		{{{ saveButton }}}
	{{/if}}
</div>
