<header class="chat-header">
    <h2>{{ title }}</h2>
    <h4>{{ description }}</h4>
    <div class="chat-header__info">
        {{{ Button data="chatSearch" ref="chatSearch" }}}
        {{{ ChatInfo data=chatInfo ref="chatInfo" }}}
        {{{ Button data="chatMenu" ref="chatMenu"}}}
    </div>
</header>
