<main class="registration__content">
    {{#> FormAuth name="registration"}}
        <div class="registration__content__header">
            <h2 class="registration__content__header__title">Регистрация</h2>
            {{{ InputField data="mail" ref="mail" }}}
            {{{ InputField data="login" ref="login" }}}
            {{{ InputField data="name" ref="name" }}}
            {{{ InputField data="surname" ref="surname" }}}
            {{{ InputField data="phone" ref="phone" }}}
            {{{ InputField data="password" ref="password" }}}
            {{{ InputField data="repeat_password" ref="repeat_password" }}}
        </div>
        <div class="registration__content__footer">
            {{{ Button data="registration" ref="registration" onClick=onRegistration }}}
            {{{ ErrorLine error=error ref="error"}}}
            {{{ Button data="entrance" ref="entrance" onClick=onExit }}}
        </div>
    {{/FormAuth}}
</main>
