case tag
  when 'h1'
    h1(className=className)= text
  when 'h2'
    h2(className=className)= text
  when 'h3'
    h3(className=className)= text
  when 'h4'
    h4(className=className)= text
  when 'h5'
    h5(className=className)= text
  when 'h6'
    h6(className=className)= text
