<div>
	{{{Ref ref_name='Login' type='button' onClick=this.login.onClick}}}
	{{{Ref ref_name='Signup' type='button' onClick=this.signup.onClick}}}
	{{{Ref ref_name='Chat' type='button' onClick=this.chat.onClick}}}
	{{{Ref ref_name='Profile' type='button' onClick=this.profile.onClick}}}
	{{{Ref ref_name='Settings' type='button' onClick=this.settings.onClick}}}
	{{{Ref
		ref_name='ChangePassword'
		type='button'
		onClick=this.changePass.onClick
	}}}
</div>
