<fieldset class="fieldset">
  <label class="fieldset__label" for="{{ id }}">{{ label }}</label>
  <input
    id="{{ id }}"
    name="{{ id }}"
    class="fieldset__input"
    type="{{ type }}"
    placeholder="{{ label }}"
    value="{{ value }}"
  />
  {{#error}}<span class="fieldset__error">{{ error }}</span>{{/error}}
</fieldset>
