<h3 class="change-avatar__title">{{ title }}</h3>
<section class="change-avatar__file">
	{{#if fileName}}
		{{ fileName }}
	{{else}}
		{{{ input }}}
	{{/if}}
</section>
{{{ button }}}
{{{ noFileError }}}
