<div class="chatDetail">
  <div class="chatDetail_header">
    <div class="chatDetail_user">
      {{ >Avatar src={{avatar}} alt={{alt}} }}
      {{ >Text weight='700' type='primary' size='medium' }}
    </div>
    <div>
      {{ >DotsInColumn}}
    </div>
  </div>
  <div class="chatDetail_body">
    <ul>
      {{#each messages}}
      <li>{{>ChatMessage sender={{this.sender}} type={{this.type}} message={{this.message}} readed={{ this.readed}}
        created_time={{this.created_time}} }}</li>
      {{/each}}
    </ul>
  </div>
  <div class="chatDetail_footer">
    {{ >Clip }}
    <form>
      {{ >Input placeholder='Сообщение' id='message' name='message' }}
    </form>
    {{ >Button type='primary' shape='circle' label={{ >ArrowRight }} }}
  </div>
</div>