<div class="chats">
  <div class="feed">
    <div class="header">
      {{{ addChatButton }}}
      {{{ link }}}
      <div class="input">
        <input type="text" name="search" id="search" placeholder="Search" class="search">
        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
      </div>
    </div>
    {{{ chatsList }}}
  </div>
  {{{ messenger }}}
  {{{ popup }}}
  {{{ addChatPopup }}}
</div>
