<div class="{{class.error}}">
  <div class="{{class.error__info}}">
    <h1 class="{{class.title}}">{{title}}</h1>
    <div class="{{class.description}}">{{description}}</div>
    <a class={{class.link}} href="#/chat-list">{{link}}</a>
  </div>
</div>
