<div class='dialog-item'>
	<img class='avatar' src='{{src_avatar}}' />
	<div class='name-mess'>{{name}}<div class='last-mess'>{{last_message}}</div>
	</div>
	<div class='time-mess'>{{message_time}}<span>{{message_count}}</span></div>

</div>
