<label id="{{labelId}}" for="" class="{{labelClass}} form__input">
    <span class="textLabel">{{{textLabel}}}</span>
    <input id="{{id}}" class="{{className}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"
         value="{{defaultValue}}">
    <span class="error">{{errorMessage}}</span>
</label>
