<div class="chat">
  {{#if selectedChat}}
  <div class="chat-header">
    <div class="user">
      <div class="small-avatar">{{{ avatar }}}</div>
      <h3 class="user-name">{{ title }}</h3>
      <span class="added-users">chatID:{{ selectedChat }}</span>
    </div>
    {{{ settingsButton }}}
  </div>
  <div class="settings-popup">
    <div class="settings-popup-line">
      {{{ addUserButton }}}
    </div>
    <div class="settings-popup-line">
      {{{ deleteUserButton }}}
    </div>
    <div class="settings-popup-line">
      {{{ deleteChatButton }}}
    </div>
  </div>
  {{{ settingsPopup }}}
  <div class="chat-feed">
    {{#each messages}}
    {{{this}}}
    {{/each}}
  </div>
  {{{ attachPopup }}}
  <div class="attach-popup">
    <div class="attach-popup-item">
      <img src="../../../static/images/photo-video.svg" alt="photo video">
      <p class="popup-text">Photo or video</p>
    </div>
    <div class="attach-popup-item">
      <img src="../../../static/images/file.svg" alt="file">
      <p class="popup-text">File</p>
    </div>
    <div class="attach-popup-item">
      <img src="../../../static/images/location.svg" alt="location">
      <p class="popup-text">Location</p>
    </div>
  </div>
  <div class="new-message">
    {{{ attachButton }}}
    {{{ input }}}
    {{{ sendButton }}}
  </div>
  {{else}}
    <div class="chat-plug">
      <p class="text">Select the chat or create a new one</p>
    </div>
  {{/if}}
  {{{ addUserPopup }}}
  {{{ deleteUserPopup }}}
  {{{ deleteChatPopup }}}
</div>
