<link rel='stylesheet' href='/partials/styles/formSection.css' />
<div class='form__content'>
  <label class='label' for='{{for}}'>{{description}}</label>
  <input class='input' type='{{type}}' id='{{id}}' name='{{name}}' />
</div>