<fieldset class="profile-fieldset">
  <label class="profile-fieldset__label" for="{{ id }}">{{ label }}</label>
  <input
    id="{{ id }}"
    name="{{ id }}"
    class="profile-fieldset__input"
    type="{{ type }}"
    value="{{ value }}"
    {{ disabled }}
  />
</fieldset>
