<div class="avatar avatar__{{size}} {{#if figure}}avatar__{{figure}}{{/if}} ">
    <img class="icon" src="{{#if avatar}}{{ avatar }}{{else}}./assets/img/avatars/avatar.png{{/if}}" alt="Avatar {{name}}"{{#if title}} title="{{ title }}"{{/if}}>
    <div class="status {{status}}"></div>
</div>
