<div class="popup-content">
  <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}"
    class="{{ className }}">
  <p class="profile-popup-error"></p>
</div>
