<div class="input">
    <label class="input-label">{{ label }}
        <input 
            class="input-field {{ class }}" 
            type="{{ type }}"
            placeholder="{{ placeholder }}"
            value="{{ value }}"
        />
    </label>
</div>