<div class="input-wrap">
    <input id="{{idForLable}}" class="input {{selectorInput}}" type="{{type}}" autocomplete="off" placeholder=" " />
    <label class="lable {{selecrtorLable}}" for="{{idForLable}}">{{placeholder}}</label>
</div>